body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
  }

  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .emojis .emoji {
    display: flex;
    flex-direction: column;
  }
  
  .emojis .emoji:nth-child(1) {
    grid-column: 1 / span 1;
  }
  
  .emojis .emoji:nth-child(2) {
    grid-column: 2 / span 2;
  }
  
  .emojis .emoji:nth-child(3) {
    grid-column: 2 / span 2;
  }
  
  .emojis .emoji:nth-child(4) {
    grid-column: 2 / span 2;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    order: -1;
  }